name: "Build machines"

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/README.md'
      - 'TODO.md'
      - 'LICENSE'
      - '.gitignore'

jobs:
  build:
    strategy:
      matrix:
        machine: [ aztec, cache, inferno, mirage, triton ]
    uses: ./.github/workflows/reusable-base.yml
    with:
      machine: ${{ matrix.machine }}
      update: false
    secrets: inherit

