# See https://lgug2z.com/articles/building-and-privately-caching-x86-and-aarch64-nixos-systems-on-github-actions/

on:
  workflow_call:
    inputs:
      machine:
        required: true
        type: string
      update:
        required: false
        type: boolean
        default: false

jobs:
  build:
    # FIXME: "ternary operator", see https://github.com/orgs/community/discussions/75928.
    runs-on: ${{ inputs.machine == 'inferno' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    steps:
      - uses: actions/checkout@v4

      - name: Prepare build environment
        uses: ./.github/actions/prepare-build-environment
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Download flake.lock artifact
        if: inputs.update == true
        uses: actions/download-artifact@v4
        with:
          name: flake_lock

      - name: Build system
        # FIXME: nix-fast-build hangs indefinitely while copying some sources
        # run: nix run github:Mic92/nix-fast-build -- --skip-cached --no-nom --flake ".#nixosConfigurations.${{ inputs.machine }}.config.system.build.toplevel"
        run: nix build ".#nixosConfigurations.${{ inputs.machine }}.config.system.build.toplevel"

      - name: Push system to private cache
        uses: ./.github/actions/push-to-cache
        with:
          attic_token: ${{ secrets.ATTIC_TOKEN }}

